
*{
  box-sizing: border-box;
  font-family: 'Montserrat';
}

.container-login{
  background-color:#F5f5f5;
  border: 1px solid #e6ecf0;
  margin: 12% auto;
  
   
}
.container-login form{
  margin: 5rem;
}

